<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PrimeiroMVC1</title>
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/PrimeiroMVC1.styles.css" asp-append-version="true" />
</head>
<body class="bodyContent">
    <header class="cabecalho">
          <h1 class="tituloPrincipal">Mini ERP</h1>
          <h3 class="dataInicial">@DateTime.Now.ToString("dddd, dd 'de' MMMM 'de' yyyy")</h3>
    </header>
    <nav class="barraMenu">
            <ul class="listaMenu">
                <li class="listaItem"><button type="button" class="btnMenu" id="btnHome">HOME</button></li>
                <li class="listaItem"><button type="button" class="btnMenu"  id="btnTeste">Teste</button></li>
                <li class="listaItem"><button type="button" class="btnMenu"  id="btnTeste">Teste</button></li>
                <li class="listaItem"><button type="button" class="btnMenu"  id="btnTeste">Teste</button></li>
                <li class="listaItem"><button type="button" class="btnMenu"  id="btnTeste">Teste</button></li>
            </ul>
     </nav>
    <div class="conteudoBody">
        <main role="main" class="conteudoMain">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            &copy; 2022 - PrimeiroMVC1 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>