@page
@model IndexModel
@{
    ViewData["Title"] = "MiniERP";
}
@{
    var teste = false;
}

@if (teste)
{
    <h1 class="testeNv">DEU BOASSA!!!</h1>
}

<div class="text-center">
    <h1 class="testeNv">BEM-VINDO</h1>
    <p class="paragrafo"></p>
</div>

